.bundle
db/schema.rb
db/*.sql
db/*.backup.*
tmp

nbproject
.DS_Store
setup-authorized-ip
setup-secret
config/database.yml
config/database.yml.backup
config/deploy.rb
config/email.yml

public/images/logo*
public/system/production
public/system/development
public/system/test

test/fixtures/settings.yml
config/query_reviewer.yml
vendor/plugins/query_reviewer
pkg
*.deb
script/package
db/bible.web.osis.xml
public/images/Thumbs.db
nbproject
/nbproject/project.properties
/nbproject/project.xml
/nbproject/private


