 <h3><%= t('albums.picture_albums') %>
        <%if @person==@logged_in%>  <p style="float: right"><%= link_to t('albums.new'), new_album_path, :class => 'add-icon' %></p><%end%>
      </h3>

     
        
        


<!-- root element for scrollable -->
<div class="scrollable">   
   
   <!-- root element for the items -->
   <div class="items">
       <% if @albums.any? %>
          <%if private("ablums")%>
            <% @albums.each do |album| %>
          <%i =0%>
          <%if i%4==0 %>
         <div>
          <%end%>

              <%= link_to image_tag(album.cover ? album.cover.photo.url(:small) : 'missing_tn.png', :alt => album.name),
                     album, :title => album.name %>
                     <%if i%4==0 %>
         </div>
          <%end%>

            <% end %>
          <%else%>
            <% @albums.each do |album| %>
              <%= link_to image_tag(album.cover ? album.cover.photo.url(:tn) : 'missing_tn.png', :alt => album.name),
                "javascript:onclick=alert('相册被设置隐藏，请加好友或联系TA')", :title => album.name %>
            <% end %>
          <%end%>
      <% end %>


      
      
   </div>
   
</div>
<a class="prev browse left" ></a>
<!-- "next page" action -->
<a class="next browse right"></a>

<br></br>

<!-- "previous page" action -->

<script>
  $(document).ready(function(){
$(function() {

	// initialize scrollable
	$(".scrollable").scrollable();

});  })
</script>