<div id="postition"  class ="object" style="display: none; ">

  <%= form.label :home_postition,       t('people.home_postition') %> 

  <%= form.text_field :home_address,:size=>22,:id=>'search_address',:onclick=>"javascript:var pos = GetObjPos(this)",:placeholder =>"输入您所在城市或区县" %>
  <br/>

</div>
<script type="text/javascript">
       //ajax查询初始化
       $(document).ready(function(){
          new InputSuggest({
					width: 300,
					//opacity: 0.3,
					input: document.getElementById('search_address')
                                    });
       })
       

    
</script>
