
  <div  class="object" >
  <%= render :partial => 'photo' %>
  <div class="form-field-hint"><%= t('people.upload_a_picture_of_html', :name => me? ? 'yourself' : @person.name) %></div>
  <%= photo_upload_for @person %>

  </div>

