<% content_for  :head do %>
  <%= javascript_include_tag "extend/prov_city" %>
<% end %>
<div class='show_php show' style="height: 600px;">	
 <div >
	<ul>
      <li class = ""><a href="#">我的足迹</a></li>
	  <li class = ""><a href="#">好友的足迹</a></li>
      <li class = ""><a href="#">我的线路</a></li>
	  <li class = ""><a href="#">我的活动</a></li>
      <li class = ""><a href="#">我要找人</a></li>
	  <li class = ""><a href="#">我要去</a></li>
    </ul>
 </div>


<br>
<br>
<br>
<br>
<br>

</div>




