
<div class='object' style="min-height: 600px;">	

  
  <%#= render :partial=>"common/share" %>
  <%=render_cell :common,:share%>
  
    <div class="stream-items">
    <%= render :partial => 'streams/stream_items' %>
  </div>
  
  
  
</div>




