if ($(".content").attr("type")!= "friends"){
$(".content").attr("type","friends") ;
$(".accommodate-left-sidebar").attr("class","accommodate-left-sidebar accommodate-left-sidebar2");
$(".content").html("<h3 class='double-margin-top'><a href='##' class='link_no_line tool_link' person_id='1' type='5'>好友</a>/<%= escape_javascript(link_to '全站用户', '##', :class => 'link_no_line tool_link' ,:type=>'6' ,:page=>1) %></h3><div id='friend_list'></div>")
}
$("#friend_list").html("<%= escape_javascript(render :partial =>'my_friends')  %>");
