<h3>当季热点</h3>
<div style="height: 120px;">
<%for i in 0..4 %>
<div style="margin-right: 20px;float: left">
 <%= link_to  image_tag('missing_small.png',:class=>'pic-show',:alt =>@place.place_name), [:location,@place],:target=>"_blank" %>
  <p style="margin-left: 30px;"><%= link_to @place.place_name,[:location,@place]%></p>
</div>
<%end%>
</div>
<div style="height: 150px;">
  <br>
  <p style="font-size: 60px;">资讯</p>
</div>
