<h3 class="double-margin-top">地点墙
</h3>
<div id ="place_pic_wall" width="100%" height="200px">
  <%@markerToMap.each do |markerToMap|%>
    <%=render_cell :place,:place_tn,:place=> markerToMap.marker.object%>
  <%end%>
</div>

