

<% @place_shares.each do |place_share| %>

  
  <%= render_cell :place,:place_share_item,:place_share => place_share,:is_hide=>nil %>
<%end%>
<% if @place_shares.empty? %>
  <div id="empty_text">
    <p><%= t('stream.where_activity_appear') %></p>
    <p><em><%= t('stream.nothing_to_show') %></em></p>
  </div>
<% end %>

