<h3><%= t('places.search_for_a_place') %></h3>
<%= form_tag(search_location_places_path, :method => 'post',:remote=>true , :style => 'border:none;') do %>
  <p>

   <%= text_field_tag :place_key, params[:place_key], :style => 'width:120px;',:placeholder=>"根据地点名称或描述" %>
    <%= submit_tag t('places.search') %>
  </p>
<% end %>
  
<script type="text/javascript">
       //ajax查询初始化
       $(document).ready(function(){
          new InputSuggest({
					width: 300,
					//opacity: 0.3,
					input: document.getElementById('place_key'),
                                        url: "places/search_ajax"

                                    });
       })
       

    
</script>

