<h3 class="double-margin-top">人物头像墙</h3>
<div id ="people_pic_wall" width="100%" height="200px">
      <%@peoples.each do |people|%>
        <%=render_cell :people,:thumbnail,:person=>people%>
       <%end%>
    </div>