 <% @groups.each do |group| %>

    <div class ="friend_pic">
      <div>
       <%=  group_href_html group,"medium","picture"%>
      </div>
      <div class="friend_pic_name"><%= group.name %></div>
      </div>

       <%end%>