<% if @members.any? %>
  <% if @members.any? %>

    <% @members.each do |person| %>
        <div class ="friend_pic">
          <div>
            <%=  person_href_html person,"medium","picture"%>
          </div>
          <div class="friend_pic_name"><%= person.name %><%if person.city%>(<%= person.city %>)<%end%></div>
        </div>
      <% end %>
  <% end %>

<% else %>
  <p><%= t('groups.nobody_yet') %></p>
<% end %>