<% if person %>
  <span class="nowrap">
    <a href="<%= url_for person %>">
      <%= image_tag person.photo.exists? ? person.photo.url(:tn) : (person.gender == 'Female' ? 'clean/womanoutline.tn.png' : 'clean/manoutline.tn.png'),
        :alt => person.name %>
    </a>
  </span>
<% else %>
  <%= image_tag 'clean/manoutline.tn.png', :alt => '' %>
<% end %>
