<% @stream_items.each do |stream_item| %>
  <%= render :partial => 'streams/stream_item', :object => stream_item %>
<% end %>
<% if @stream_items.empty? %>
  <p><%= t('stream.where_activity_appear') %></p>
  <p><em><%= t('stream.nothing_to_show') %></em></p>
<% end %>

