<%#= javascript_include_tag "extend/jquery.form" %>
<%#= javascript_include_tag "extend/map" %>
<%#= javascript_include_tag  'http://api.map.baidu.com/api?v=1.2' %>
<%#= javascript_include_tag  'http://api.map.baidu.com/library/TextIconOverlay/1.2/src/TextIconOverlay.js' %>
<%#= javascript_include_tag  'http://api.map.baidu.com/library/MarkerClusterer/1.2/src/MarkerClusterer.js' %>
<%#= javascript_include_tag "map/map_baidu" %>
<%#*<script type="text/javascript">%>
  <%#*$(document).ready(function() {%>
  <%#*MapObject.initialize(null,"mapCanvas",null) ;%> 
 <%#*})%>
<%#*</script>%>
<%#*<div id="mapCanvas" style="width: 100%; height: 250px;">map div</div>%> 