<!-- video content -->
<div id="video-modal-content" >
  <div id="video-modal-title">发布视频
    <span style="background-color: #FEC;padding: 4px;text-align: center;display: none" id="update_video_notice">
    </span></div>
  <div class="close"><a href="#" class="simplemodal-close">x</a></div>
  <div id="video-modal-data" >


       <form accept-charset="UTF-8" action="/videos" class="new_video" data-remote="true" id="share-video" method="post">
      <input id="video_name" name="video[name]" placeholder="视频名称" size="30" type="text" /><br/>
      
      <input id="video_html_url" name="video[html_url]" placeholder="视频地址" size="30" type="text" /><br/>
      <textarea cols="40" id="video_desc" name="video[desc]" placeholder="视频描述" rows="20"></textarea><br/>
      <div class="location_info" style="display:none">
        <input class="marker_geocode_position" id="marker_geocode_position" name="marker[geocode_position]" placeholder="地球某地" size="30" type="text" />
      </div>
      <input class="marker_marker_latitude" id="marker_marker_latitude" name="marker[marker_latitude]" size="30" type="hidden" />
      <input class="marker_marker_longitude" id="marker_marker_longitude" name="marker[marker_longitude]" size="30" type="hidden" />
      <input name="commit" type="submit" value="分享！" />
      <input name="[is_location]" type="hidden" value="0" /><input class="is_location" id="_is_location" name="[is_location]" title="是否带地理位置，默认为当前位置" type="checkbox" value="1" />地理位置
</form>



  </div>
</div>
<!-- video content -->

