
<!-- modal content -->
<div id="pic-modal-content" style="display:none">
  <div id="pic-modal-title">发布图片
    <span style="background-color: #FEC;padding: 4px;text-align: center;display: none" id="update_pic_notice">
    </span></div>
  <div class="close"><a href="#" class="simplemodal-close">x</a></div>
  <div id="pic-modal-data" >


 <form accept-charset="UTF-8" action="/pictures" class="new_picture" enctype="multipart/form-data" id="share-picture" method="post" target="upload_frame">
      <input id="pictures_" multiple="multiple" name="pictures[]" type="file" /><br/>
      <input id="album" name="album" placeholder="专辑名称" size="10" type="text" value="" /><br/>
      <textarea id="editor_pic" name="photo_text"></textarea>
      <div class="location_info">
        <input class="marker_geocode_position" id="marker_geocode_position" name="marker[geocode_position]" placeholder="我的位置" size="30" type="text" /><br/>
      </div>
      <input class="marker_marker_latitude" id="marker_marker_latitude" name="marker[marker_latitude]" size="30" type="hidden" />
      <input class="marker_marker_longitude" id="marker_marker_longitude" name="marker[marker_longitude]" size="30" type="hidden" />

      <div id="pic_submit">
        <span class='button' onclick='ajaxFileUpload_file()' >分享！</span>
      <input name="[is_location]" type="hidden" value="0" /><input class="is_location" id="_is_location" name="[is_location]" title="是否带地理位置，默认为当前位置" type="checkbox" value="1" />地理位置
      </div>

</form> 
  </div>
</div>




