<div>
  <div>我要去： <span id ="my_destination"></span></div>
  <span class='button' onclick='MapObject.go_with_bus()' >公交</span>
  <span class='button' onclick='MapObject.go_with_car()' >驾车</span>

</div>