<div class="share-marker">
  当前位置：<br>
  <span id="place_adress_span"></span><br>
  <ul class="share-details share-selector">
    <% if Setting.get(:features, :notes) %>
      <li><%= link_to_function t('share.note'), "selectMarkerShare('share-note-marker')", :class => 'comment2-icon', :id => 'share-note-marker-icon' %></li>
    <% end %>
    <% if Setting.get(:features, :pictures) %>
      <li><%= link_to_function t('share.picture'), "selectMarkerShare('share-picture-marker')", :class => 'picture-icon', :id => 'share-picture-marker-icon' %></li>
    <% end %>
  </ul>
  <% if Setting.get(:features, :notes) %>
   
       <form accept-charset="UTF-8" action="/notes" class="share-type-marker" data-remote="true" id="share-note-marker" method="post">
      <input id="redirect_to" name="redirect_to" type="hidden" value="/stream" />
      <span class="small">“什么对你的想法？</span><br/>
      <textarea class="share_text" cols="40" id="note_body" name="note[body]" placeholder="用@标注你所在位置，用go2 标注出你要去的地方" rows="2"></textarea><br/>
      <input class="geocode_position" id="marker_geocode_position" name="marker[geocode_position]" size="30" type="hidden" />
      <input class="marker_latitude" id="marker_marker_latitude" name="marker[marker_latitude]" size="30" type="hidden" />
      <input class="marker_longitude" id="marker_marker_longitude" name="marker[marker_longitude]" size="30" type="hidden" />
      <input name="commit" type="submit" value="分享！" />
</form>
   
  <% end %>
  <% if Setting.get(:features, :pictures) %>
    <form accept-charset="UTF-8" action="/pictures" class="share-type-marker" enctype="multipart/form-data" id="share-picture-marker" method="post">
      <input id="pictures_" multiple="multiple" name="pictures[]" type="file" /><br/>
      <input id="album" name="album" placeholder="专辑名称" size="10" type="text" value="" /><br/>
      <textarea class="share_text" cols="40" id="photo_text" name="photo_text" placeholder="用@标注你所在位置，用go2 标注出你要去的地方" rows="2"></textarea><br/>
      <input class="geocode_position" id="marker_geocode_position" name="marker[geocode_position]" size="30" type="hidden" />
      <input class="marker_latitude" id="marker_marker_latitude" name="marker[marker_latitude]" size="30" type="hidden" />
      <input class="marker_longitude" id="marker_marker_longitude" name="marker[marker_longitude]" size="30" type="hidden" />

      <span class='button' onclick='ajaxFileUpload_file_marker()' >分享！</span>
</form> 
  <% end %>
  </div>

  <script>
    $(document).ready(function(){    
      $("#share-note-marker").submit(function(){  
        var options = {   
          url:$(this).attr("action"), //提交给哪个执行  
          type:'POST',
          beforeSubmit:function(formData, jqForm, options){
         
          },
          success:function(){

          }
        };
        $('#share-note-marker').ajaxSubmit(options);   
           
        return false; //为了不刷新页面,返回false，反正都已经在后台执行完了，没事！  
      }
    );
    
      
    })
    function selectMarkerShare(show) {
      $('.share-type-marker').hide();
      $('#'+show).show();
      //    $('#'+share+' :input[type!="hidden"]')[0].focus();
      $('.share-selector a').removeClass('active');
      $('#'+show+'-icon').addClass('active');
      MapObject.infoWindow.redraw();
    };

    $("#share-note-marker").show();
    
    
    function ajaxFileUpload_file_marker(){
      url = "?album="+$("#album").val() +"&photo_text="+$("#photo_text").val()+
        "&marker[geocode_position]="+$("#marker_geocode_position").val()+
        "&marker[marker_latitude]="+$("#marker_marker_latitude").val()+
        "&marker[marker_longitude]="+$("#marker_marker_longitude").val()
      $.ajaxFileUpload({
        url:'/pictures/'+url,
        secureuri:false,
        dataType: 'json',
        fileElementId:'pictures_',
        success: function (data,status){
          if(data && data.success==true){
            $("#notice").html(data.notice)
            $("#notice").show()
            $('#notice').fadeOut(15000);
            $("#share-picture").resetForm();
            $("#marker_geocode_position").attr("value", '');
            $("#marker_destin_position").attr("value", '')
            for (var i=0;i<=data.html.length-1;i++) {
              $.ajax({                                                
                type: "GET",                                    
                url: "/pictures/get_stream_item",
                data:"pic_id="+data.html[i].pic_id+"&marker_id="+data.html[i].marker_id,
                success: function(){}
              });
            }
          }else{
            alert("文件保存失败1")
          }
        },
        error: function (data, status, e){
          alert(data.success)
          alert("文件保存失败2")
        }
      })
      return false;
    }
  
  
  </script>
