<!-- modal content --> 
<div id="map-modal-content" style="display:none"> 
  <div id="map-modal-title">视野查看
    <span style="background-color: #FEC;padding: 4px;text-align: center;display: none" id="update_notice">

    </span></div>
  <div class="close"><a href="#" class="simplemodal-close">x</a></div> 
  <div id="map-modal-data" > 
<div class="stream-items" id ="see_all_streams">
   
</div>
  </div> 
</div>
<!-- modal content --> 

<script type="text/javascript">
      
  $(document).ready(function() {
    
           
    
  }
)

 
</script>
