scroller('anchor_content', 800);
if ($(".content").attr("type")!= "pictures"){
$(".content").attr("type","pictures") 

$(".accommodate-left-sidebar").attr("class","accommodate-left-sidebar accommodate-left-sidebar2");

$(".content").html("<%= escape_javascript( render :partial => 'h3') %>"+"<div id ='pictures_list'></div>")

}
$("#pictures_list").html("<%= escape_javascript( render :partial => 'pictures') %>")
$("img[rel]").overlay({effect: 'drop',mask: '#789'});