      <table>
        <tr>
          <th>fahter_id</th>
          <th>address</th>
        </tr>

        <% @addresses.each do |a| %>
          <tr>
            <th><%= a.father_id%></th>
            <th><%= a.description %></th>
          </tr>
        <% end %>
      </table>