<div style="">
  <h2><a>我要去的地方</a></h2>
<%= link_to image_tag(@person.photo.url(:profile), :alt => @person.name,:width=>"300px"), @person.photo.url %>


<p>1111111111111</p>
<p>111111111111111111111111</p>

</div>
