<ul class="tabs">
  <li><a href="#follow_user">关注的用户</a></li>
  <li><a href="#be_here_user">到过的用户</a></li>
  <li><a href="#want_to_user">想去的用户</a></li>
</ul>


<div class="panes" >
  <div style="margin-top: 10px;" class="tab_pane">
    <div class="scrollable " id="scroller" style="width:390px">
      <div class="items" >

          <% @follow_peoples.each do |mm| %>
         <%i =0%>
          <%if i%4==0 %>
         <div>
          <%end%>

          <%= content_tag :a, :href => person_path(mm.map.person) do %>
            <%= render :partial => 'people/thumbnail', :locals => {:person => mm.map.person} %>
          <% end %>
             <%if i%4==0 %>
         </div>
          <%end%>
        <% end %>

      </div>

        <%if @follow_peoples.length >6%>
        <a class="prev browse left" ></a>
        <!-- "next page" action -->
        <a class="next browse right"></a>
        <%end%>
 

    </div>
  </div>

    <div class="tab_pane">Second pane. You can open other tabs with normal <a href="#first">anchor links</a></div>
    <div class="tab_pane">Third tab content</div>
</div>
<br></br>
<script type="text/javascript">

  $(function() {
    // setup ul.tabs to work as tabs for each div directly under div.panes
    $("ul.tabs").tabs("div.panes > div.tab_pane");
    $("#scroller").scrollable();
  });

</script>

