$("#description_text").html("<p>"+ "<%=@place.place_description%>" + "</p>")
$("#place_place_description").text('<%=@place.place_description%>')
$("#description_textarea").hide();
$("#updata_button").hide();
$("#description_text").show();
$("#edit_button").show();