<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3c.org/TR/1999/REC-html401-19991224/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  
  <title><%= Setting.get(:name, :site) %></title>
  <%= yield :head %>

</head>
 
<body>

  <p class="very-strong">
    <%= t('layouts.this_is_the_fallback_template') %>
  </p>

  <%= yield %>

</body>


</html>
